Package: com.hydri.avengersbattle
Name: AvengersBattle
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Do you love the Avengers? I do!
Maintainer: Hydri
Author: Hydri
Section: Tweaks
